.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 40px;
    background-color: #C4C4C4;
    width: 100%;
}

.task{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
}

.pomodor{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 17px;
}