.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 370px;
}

.input {
    padding: 19px 15px;
    margin-bottom: 25px;
    color: #999;
    background-color: #F4F4F4;
font-size: 16px;
font-weight: 300;
line-height: 17px;
}

.button {
    width: 45%;
    padding: 15px 50px;
    margin-bottom: 25px;
    color:#fff;
    background-color: #A8B64F;
font-size: 16px;
font-weight: 500;
line-height: 17px;
}

.tasks {
    margin-bottom: 25px;
}

.timer {
    color: #999;
font-size: 16px;
font-weight: 300;
line-height: 17px;
}