.header {
    padding: 15px 0;
    color: #DC3E22;
    box-shadow: 0px 10px 63px 0px rgba(0, 0, 0, 0.07);

    & a {
        display: flex;
    justify-content: center;
    align-items: center;
    }

    & a:hover,
    & .active {
        color: #B7280F;
    }

    & a:hover svg path {
        fill: #B7280F;
    }
}

.header a,
.header a:hover,
.header a .active {
  transition: color 0.3s ease;
}

.header a:hover svg path,
.header .active svg path {
  transition: fill 0.3s ease;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pomodoro {
    font-weight: 300;
line-height: 24px;
}

.logo {
    margin-right: 12px;
}

.statistics {
    font-size: 16px;
    font-weight: 400;
line-height: 17px;
}

.equalizer {
    margin-right: 5px;
}