.dashboard {
    position: relative;
    width: 120%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F4F4F4;
}